{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">My Playlists</h5>
  </div>
  <ul class="list-group list-group-flush">
      {% if playlists %}
            {% for playlist in playlists %}
               <li class="list-group-item"><a href="{% url 'view_playlist' playlist.id %}">{{ playlist.name }}</a></li>
            {% endfor %}
      {% else %}
          <li class="list-group-item">No Playlist Added yet</li>
      {% endif %}
  </ul>
  <div class="card-body">
    <a href="{% url 'create_playlist' %}" class="card-link">Create new Playlist</a>
  </div>
</div>
{% endblock %}