<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'songs/style.css' %}">
<body>
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
        <a href="{% url 'delete' playlist.id %}">Delete Playlist</a>
    </form>
{% if playlist_songs %}
    <h1>My Songs</h1>
    <table>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Publishing House</th>
        <th>Action</th>
    </tr>
    {% for song in playlist_songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.type }}</td>
            <td>{{ song.publishing_house }}</td>
            <td><a href={% url 'RemoveSongPlaylist' playlist song %}>remove</a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>Playlist Empty</p>
    {% endif %}
    {% if recommended_songs %}
    <h1>Add new Songs in your Playlist</h1>
    <table>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Publishing House</th>
        <th>Action</th>
    </tr>
    {% for song in recommended_songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.type }}</td>
            <td>{{ song.publishing_house }}</td>
            <td><a href={% url 'AddSongPlaylist' playlist song %}>Add</a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No Songs available.</p>
    {% endif %}
</div>
</body>
</html>