{% extends 'home/base.html' %}
{% block content %}
<div class="bg-light">
    <div>
        <h4 class="card-title mt-3">My Playlist</h4>
        <p>Update your Playlist</p>
        <section class="form-group">
            <form method="POST" action="{% url 'update_playlist' playlist.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save Changes">
            </form>
            <form name="delete_playlist" method="post" action="{% url 'delete_playlist' playlist.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete Playlist" />
            </form>
        </section>
    </div>
</div>
{% endblock %}