{% extends 'home/base.html' %}
{% block content %}
<div class="bg-light">
    <div>
        <h4 class="card-title mt-3">Playlists</h4>
        <p>Update your Playlist</p>
        <section class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save Changes">
            </form>
            <form name="delete_playlist" method="post" action="{% url 'delete_playlist' playlist.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete Playlist" />
            </form>
        </section>
        <section class="mt-5">
            {% if playlist_songs %}
                  <h3>My Songs</h3>
                  <table class="table">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Publishing House</th>
                            <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for song in playlist_songs %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ song.title }}</td>
                                <td>{{ song.type }}</td>
                                <td>{{ song.publishing_house }}</td>
                                <td>
                                    <form name="remove_song_from_playlist" method="post" action="{% url 'remove_song_from_playlist' playlist.id song.id %}">
                                            {% csrf_token %}
                                            <input type="submit" value="remove" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
            {% else %}
                <p class="text-danger">Playlist Empty | No songs added yet</p>
            {% endif %}
        </section>
        <section class="mt-5">
            {% if recommended_songs %}
            <h1>Add new Songs in your Playlist</h1>
            <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Publishing House</th>
                <th scope="col">Action</th>
            </tr>
            {% for song in recommended_songs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ song.title }}</td>
                    <td>{{ song.type }}</td>
                    <td>{{ song.publishing_house }}</td>
                    <td>
                        <form name="add_song_to_playlist" method="post" action="{% url 'add_song_to_playlist' playlist.id song.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Add" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
                <p class="text-danger">No Songs Available</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}