{% block content %}
    <div>
        {% if albums %}
        <div class="d-flex flex-wrap justify-content-around mt-5">
        {% for album in albums %}
                <div class="card" style="width: 18rem;">
                  <a href="{% url 'view_album' album.id %}" class="card-link" style="text-decoration: none">
                      <img src="{{ album.thumbnail.url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ album.name }}</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Publishing House:</b> {{ album.publishing_house }}</li>
                        <li class="list-group-item"><b>Artists:</b>
                        {% for artist in album.artists.all %}
                            {{ artist }}
                        {% empty %}
                            None
                        {% endfor %}
                        </li>
                      </ul>
                  </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <li class="list-group-item">No Albums Available</li>
        {% endif %}
    </div>
 {% endblock %}
