{% extends 'home/base.html' %}
{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Songs</h4>
        <p class="text-center">Add your new Song</p>
        <section class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </section>
    </article>
</div>
{% endblock %}




