{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Singles</h5>
      </div>
      <ul class="list-group list-group-flush">
          {% if singles %}
              {% for single in singles %}
                  <li class="list-group-item"><a href="{% url 'update_song' single.id %}">{{ single }}</a></li>
              {% endfor %}
          {% else %}
              <li class="list-group-item">No Song Added yet</li>
          {% endif %}
      </ul>
      <div class="card-body">
        <a href={% url 'add_song' %} class="card-link">Add new Song</a>
      </div>
    </div>
{% endblock %}


