{% extends 'home/bootstrap.html' %}
{% block content %}
<div class="bg-light">
    <div>
        <h4 class="card-title mt-3">Albums</h4>
        <p>Update your Album</p>
        <section class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save Changes">
                <a href="{% url 'delete_song' song_id %}">Delete Song</a>
            </form><br>
        </section>
    </div>
</div>
{% endblock %}