{% extends 'home/base.html' %}
{% block content %}
<div class="bg-light">
    <div>
        <h4 class="card-title mt-3">Albums</h4>
        <br>
        <p><b>Album Name: </b>{{ album.name }}</p>
        <p><b>Publishing House: </b>{{ album.publishing_house }}</p>
        <p><b>Artists:</b>
            {% for artist in album.artists.all %}
                    {{ artist }}
            {% endfor %}
        </p>
        {% if request.user in album.artists.all%}
            <p>Update your Album</p>
            <section class="form-group">
                <form method="POST" enctype="multipart/form-data" action="{% url 'update_album' album.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save Changes">
                </form>
                <form name="delete_song" method="post" action="{% url 'delete_album' album.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete Album" />
                </form>
            </section>
            <section class="mt-5">
                {% if songs_in_album %}
                <h3>My Songs</h3>
                <table class="table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Publishing House</th>
                    <th scope="col">Action</th>
                </tr>
                {% for song in songs_in_album %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ song.title }}</td>
                        <td>{{ song.publishing_house }}</td>
                        <td>
                            <form name="delete_song" method="post" action="{% url 'delete_song' song.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete Song" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                    <p class="text-danger">No Song added in Album yet.</p>
                {% endif %}<br>
                <a href={% url 'add_song_to_album' album.id %}>Add New Song to Album</a>
            </section>
        {% else %}
            <section class="mt-5">
                {% if songs_in_album %}
                <h3>My Songs</h3>
                <table class="table">
                <tr>
                    <th style="width: 20%" scope="col">#</th>
                    <th style="width: 20%" scope="col">Title</th>
                    <th style="width: 30%" scope="col">Publishing House</th>
                    <th style="width: 30%" scope="col">Play</th>
                </tr>
                {% for song in songs_in_album %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ song.title }}</td>
                        <td>{{ song.publishing_house }}</td>
                        <td>
                            <audio controls style='width: 100%;'>
                                <source src='{{ song.file.url }}' type='audio/mp3'/>
                            </audio>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                    <p class="text-danger">No Song added in Album yet.</p>
                {% endif %}<br>
            </section>
        {% endif %}

    </div>
</div>
{% endblock %}
