{% extends 'home/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Login</h4>
        <p class="text-center">Login | Create your account</p>
        <section class="form-group">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
             <a href="{% url 'signup' %}">Create an Account?</a>
        </section>
    </article>
</div>
{% endblock %}